
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-4">
        <select class="form-select  mb-3" (change)="getRole($event)">
            <option value="coach">Coach</option>
            <option value="Player/Member">Player/Member</option>
            <option value="Guest">Guest</option>
        </select>
        </div>
        <div class="col-md-8">
            <div class="row"><!--(click)="getDetails(stadium.id)" ,{name:{{name}}}-->
                <div class="col-md-3" *ngFor="let stadium of sportsList" routerLink="/stadiumDetails/{{stadium.id}}" [queryParams]="{name:'stadiumDetails'}">
                    <img src="{{stadium.img}}" alt="{{stadium.title}}" class="img-fluid"/>
                    <div>{{stadium.title}}</div>
                    <div>{{stadium.landmark}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

